In [ ]:
%pip install mysql-connector-python

In [ ]:
import mysql.connector as sql

mydb= sql.connect(
    host= "localhost",
    user="root",
    password="itacademy",
    database="sprint4")
print(mydb)

In [ ]:
import mysql.connector as sql
import pandas as pd

cursor = mydb.cursor()
cursor.execute("SELECT * FROM companies")
resultados = cursor.fetchall()
columnas = [fila[0] for fila in cursor.description]
companies = pd.DataFrame(resultados, columns=columnas)
companies

In [ ]:
import mysql.connector as sql
import pandas as pd

cursor = mydb.cursor()
cursor.execute("SELECT * FROM card_status")
resultados = cursor.fetchall()
columnas = [fila[0] for fila in cursor.description]
card_status = pd.DataFrame(resultados, columns=columnas)
card_status

In [ ]:
import mysql.connector as sql
import pandas as pd

cursor = mydb.cursor()
cursor.execute("SELECT * FROM credit_cards")
resultados = cursor.fetchall()
columnas = [fila[0] for fila in cursor.description]
credit_cards = pd.DataFrame(resultados, columns=columnas)
credit_cards

In [ ]:
import mysql.connector as sql
import pandas as pd

cursor = mydb.cursor()
cursor.execute("SELECT * FROM product_transaction")
resultados = cursor.fetchall()
columnas = [fila[0] for fila in cursor.description]
product_transaction = pd.DataFrame(resultados, columns=columnas)
product_transaction

In [ ]:
import mysql.connector as sql
import pandas as pd

cursor = mydb.cursor()
cursor.execute("SELECT * FROM products")
resultados = cursor.fetchall()
columnas = [fila[0] for fila in cursor.description]
products = pd.DataFrame(resultados, columns=columnas)
products

In [ ]:
import mysql.connector as sql
import pandas as pd

cursor = mydb.cursor()
cursor.execute("SELECT * FROM transactions")
resultados = cursor.fetchall()
columnas = [fila[0] for fila in cursor.description]
transactions = pd.DataFrame(resultados, columns=columnas)
transactions

In [ ]:
import mysql.connector as sql
import pandas as pd

cursor = mydb.cursor()
cursor.execute("SELECT * FROM user")
resultados = cursor.fetchall()
columnas = [fila[0] for fila in cursor.description]
user = pd.DataFrame(resultados, columns=columnas)
user

In [24]:
print(products.dtypes) # Para saber el ipo de variables de cada df

id                int64
product_name     object
price            object
colour           object
weight          float64
warehouse_id     object
dtype: object

In [26]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            100 non-null    int64
 1   product_name  100 non-null    object
 2   price         100 non-null    object
 3   colour        100 non-null    object
 4   weight        100 non-null    float64
 5   warehouse_id  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB